body{
    background-color: gray;
}
.container{
    background-color: silver;
    color: black;
    padding: 10px;
    text-align: center;
    text-align: justify;
    margin: 20px 100px;
}
.container h1{
    text-align: center;
}